<!DOCTYPE html>
<html>
<head>
    <title>Nobel</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../../style.css">
</head>
<body>
<div id="title-area">
    <h1>Nobel</h1>
    <div id="logout-wrapper">
        <button class="ui blue button" id="logout" onclick="logOut()"><i class="sign out icon"></i>Log out of Channel i</button>
    </div>
</div>
<div id="members-area"></div>
<div id="message-area">
    <ul id="messages"></ul>
</div>
<div id="form-area">
    <form action="" class="ui left icon action input fluid form">
        <i class="comment icon"></i>
        <input id="m" placeholder="Type message" autocomplete="off"/>
        <button class="ui blue button"><i class="send icon"></i>Send</button>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="../../client.js">
</script>
</body>
</html>
