<!DOCTYPE html>
<html>
<head>
	<title>Nobel</title>
	
	<link rel="stylesheet" type="text/css" href="http://semantic-ui.com/dist/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="../../style.css">
</head>
<body>
	<div id="title-area">
		<h1>Nobel</h1>
	</div>
	<div id="members-area">
		
	</div>
	<div id="message-area">
		<ul id="messages"></ul>
	</div>
	<div id="form-area">
		<form action="" class="ui left icon action input fluid form">
			<i class="comment icon"></i>
			<input id="m" placeholder="Type message" autocomplete="off" />
			<button class="ui blue button"><i class="send icon"></i>Send</button>
		</form>
	</div>
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script src="../../client.js">
	</script>
</body>
</html>
